body {
  width: 800px;
  padding: 0;
  font-family: sans-serif;
}
.class_date{
  width: 180px;
}
/* .input{
  width: 300px;
  margin: 5px;
} */
 tr:nth-child(2n) {
  background: #e2d9d9; 
 } 
/* tr:nth-child(1) {
  background: rgb(148, 148, 148);  Цвет фона 
  color: #fff; 
 }*/
 fieldset{
   border-radius: 5px;
   margin: 10px;
 }
 textarea{
   width: 100%;
   resize: none!important;
 }
td{
  width: 20%;
}
.field{
  margin: 5px;
}
.search_checkbox {
width: 16px;
height: 16px;
margin: 10px;
}
/* .searchInput {
     max-width: 600px;
     min-width: 200px;
     width: 90%;

 } */

/* tr {
     text-align: center;

 } */
/* textarea {
  max-width: 600px;
     min-width: 200px;
     width: 90%;
} */


.sortUp {
  padding: 0;
  margin: 1px;
  float:right;
    width: 0;
  height: 0;
  background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid darkgrey;
}
.sortDown 
  {
    padding: 0;
    margin: 1px;
    float:right;
    clear:right;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid darkgrey;
  
}